.meus-filmes {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meus-filmes h1 {
    margin-bottom: 14px;
}

.meus-filmes span {
    font-size: 18px;
}

.meus-filmes ul {
    width: 100%;
    max-width: 720px;
    padding: 0;
    list-style: none;
}

.meus-filmes ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    padding: 10px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.meus-filmes div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meus-filmes div a {
    text-decoration: none;
    color: #020269;
    margin-right: 14px;
}

@media (max-width: 768px) {
    .meus-filmes ul {
        width: 100%;
        padding: 0 1rem;
    }

    .meus-filmes ul li {
        flex-direction: column;
        align-items: flex-start;
    }

    .meus-filmes div {
        flex-direction: column;
        align-items: flex-start;
    }
}