.filme-info {
    margin: 0 0 0 32px;
    /* Ajustado para alinhar à esquerda */
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 840px;
    padding: 0 8px;
    align-items: flex-start;
    /* Alinha o conteúdo à esquerda */
    text-align: left;
    /* Alinha os textos à esquerda */
}

.filme-info h1 {
    margin: 14px 0;
}

.filme-info img {
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;

}

.filme-info h3 {
    margin-top: 14px;
}

.filme-info span {
    margin: 8px 0;

}

.area-buttons button {
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    cursor: pointer;
    transition: all 0.5s;
}

.area-buttons button:hover {
    background-color: #002069;
    color: #ffca03;
}

.area-buttons a {
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}

.area-buttons a:hover {
    color: #ffca03
}

.elenco {
    margin-top: 2rem;
}

.elenco h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--title-color);
}

.elenco-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 0.5rem;
}

/* Ajustando o tamanho dos cards e garantindo que todos fiquem na mesma linha */
.ator-card {
    flex: 0 0 80px;
    /* Define largura fixa menor para os cards */
    max-width: 80px;
    text-align: center;
    background-color: var(--background-color);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.3rem;
    /* Reduz o padding */
    font-size: 0.8rem;
    /* Ajusta o tamanho da fonte */
}

.ator-card img {
    width: 100%;
    height: auto;
    border-radius: 10%;
    margin-bottom: 0.3rem;
    filter: grayscale(100%);
}

/* Ajustando o estilo para exibir o nome completo do ator, quebrando a linha se necessário */
.ator-card strong {
    display: block;
    font-size: 0.75rem;
    color: var(--title-color);
    margin-bottom: 0.2rem;
    white-space: normal;
    /* Permite quebra de linha */
    overflow: visible;
    /* Exibe o texto completo */
    text-overflow: unset;
    /* Remove o truncamento com reticências */
}

.ator-card span {
    font-size: 0.7rem;
    color: var(--text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Ajustando o layout do elenco-grid para exibir em linha no modo desktop */
@media (min-width: 768px) {
    .elenco-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0.5rem;
    }
}

/* Ajustando o layout do elenco-grid para ocupar duas colunas no modo responsivo */
@media (max-width: 768px) {
    .elenco-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
    }
}

/* Ajustando o layout das sugestões para exibir as imagens uma ao lado da outra */
.sugestoes-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;
}

.sugestoes-grid img {
    width: 100px;
    /* Define largura fixa para as imagens */
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Centralizando toda a página no modo responsivo */
@media (max-width: 768px) {
    .filme-info {
        align-items: center;
        text-align: left;
        /* Alinha títulos e textos à esquerda */
        margin-right: 18px;
        /* Adiciona margem à direita */
    }

    .filme-info img {
        margin: 0 auto;
    }
}