.container {
    display: flex;
    justify-content: center;
}

.lista-filmes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 1310px;
    margin: 0 auto;
}

.lista-filmes article {
    background-color: #fff;
    color: #002069;
}

article {
    width: 200px;
    margin: 10px;
    text-align: center;
    margin-top: 30px;
}

strong {
    display: block;
    margin-bottom: 10px;
}

.lista-filmes img{
    display: flex;
    max-width: 100%;
    object-fit: cover;
}

.lista-filmes a{
    display: block;
    margin-top: 10px 0;
    text-decoration: none;
    background-color: #116FEB;
    text-decoration: none;
    color: #FFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}