
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    background-color: #002069;
    padding: 10px;
}

header img{
    width: 45px;
}

.logo {
    display: flex;
        /* Adicionado */
        align-items: center;
        /* Adicionado */
    text-decoration: none;
    font-size: 35px;
    cursor: pointer;
    color: #ffca03;
    font-weight: bold;
    margin-left: 10px;
    
}

.favoritos{
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
    color: #ffca03;
    padding: 5px 14px;
    margin-right: 20px;
}

